<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>
<table id="book">
    <caption style="color: rosybrown">Book List</caption>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${book}">
        <td th:text="${c.id}"></td>
        <td  th:text="${c.name}"></td>
        <td th:text="${c.quantity}"></td>
        <td>
            <a th:href="@{/view/{id}(id=${c.id})}">View</a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/list'(page=${book.number - 1}"
       th:if="${book.hasPrevious()}">Previous</a>
    <span th:text="${book.number + 1}"></span>/<span th:text="${book.totalPages}"></span>
    <a th:href="@{'/list'(page=${book.number + 1}"
       th:if="${book.hasNext()}">Next</a>
</div>
</body>
</html>