<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View</h3>
<div class="notify">
    <div th:if="${code}">
        <span th:text="${code}"></span>
    </div>

</div>
<div id="form">
    <form action="#" th:action="@{/rent}" th:object="${book}"
          method="POST" novalidate="novalidate">
        <input th:field="*{id}" hidden>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" readonly/>
        </div>
        <div>
            <label>Quantity</label>
            <input type="text" th:field="*{quantity}" readonly/>
        </div>
        <div>
            <label>Type</label>
            <input type="text" th:field="*{type}" readonly/>
        </div>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}" readonly/>
        </div>
        <input type="submit" value="Rent" data-target="#exampleModal"/>
    </form>
    <a th:href="@{/list}">Cancel</a>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>