<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/layout :: header"></div>
<div class="notify">
    <div th:if="${smg}">
        <span th:text="${smg}"></span>
    </div>
</div>
<div>
    <form action="/customer/using" method="get">
        <input name="name" type="text" placeholder="search name customer">
        <input name="service" type="text" placeholder="search name attach service">
        <button type="submit">Search</button>
    </form>
</div>
<table id="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Attach Service Name</th>
        <th>Attach Service Cost</th>
        <th>Attach Service Status</th>
        <th>Attach Service Unit</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${contractDetail}">
        <td th:text="${c.contract.customer.customerName}"></td>
        <td  th:text="${c.attachService.attachServiceName}"></td>
        <td  th:text="${c.attachService.attachServiceCost}"></td>
        <td  th:text="${c.attachService.attachServiceStatus}"></td>
        <td  th:text="${c.attachService.attachServiceUnit}"></td>
        <td>
            <a th:href="@{/service/edit/{id}(id=${c.contract.service.serviceId})}">Edit</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#cusId'+${c.contract.service.serviceId}">Delete</button>
            <div class="modal fade" th:id="'cusId' + ${c.contract.service.serviceId}" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">CONFIRM DELETE</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Confirm delete <span class="text-warning" th:text="${c.contract.service.serviceName}"></span> ?

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a type="button" class="btn btn-danger text-decoration-none"
                               th:href="@{/service/delete/{id}(id=${c.contract.service.serviceId})}"
                            >Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <nav aria-label="..." >
        <ul class="pagination">
            <li class="page-item" th:if="${contractDetail.hasPrevious()}">
                <a class="page-link" th:href="@{'/customer'(page=${contractDetail.number -1})}">Previous</a>
            </li>
            <!--            <div th:each="item : ${customer.getTotalPages()}">-->
            <li class="page-item"><a class="page-link" th:text="${contractDetail.getNumber() +1}"></a></li>
            <!--            </div>-->
            <li class="page-item" th:if="${contractDetail.hasNext()}">
                <a class="page-link" th:href="@{'/customer'(page=${contractDetail.number + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>