<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/layout :: header"></div>
<div class="notify">
    <div th:if="${smg}">
        <span th:text="${smg}"></span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form action="/customer">
                <input name="name" type="text" placeholder="search">
                <select name="customerTypeId">
                    <option disabled selected>Choose Category</option>
                    <option th:each="item : ${customerType}" th:value="${item.customerTypeId}" th:text="${item.customerTypeName}"></option>
                </select>
                <button type="submit">Search</button>
            </form>
        </div>
       <div class="col-6" style="float: right">
           <a th:href="@{/customer/using}">Customer Using</a>
       </div>
    </div>
</div>
<a href="/customer/create">Create new blog</a>
<table id="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Customer Type</th>
        <th>Address</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${customer}">
        <td th:text="${c.customerId}"></td>
        <td  th:text="${c.customerName}"></td>
        <td th:text="${c.customerType.customerTypeName}"></td>
        <td th:text="${c.customerAddress}"></td>
        <td th:text="${c.customerBirthday}"></td>
        <td th:if="${c.customerGender.equals('1')}" th:text="Male"></td>
        <td th:if="${c.customerGender.equals('0')}" th:text="Female"></td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning"><a class="text-white" th:href="@{/customer/edit/{id}(id=${c.customerId})}">Edit</a></button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#cusId'+${c.customerId}">Delete</button>
                <button type="button" class="btn btn-success view" th:value="${c.customerId}">View</button>
            </div>

            <!-- Modal Delete -->
            <div class="modal fade" th:id="'cusId' + ${c.customerId}" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">CONFIRM DELETE</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Confirm delete <span class="text-warning" th:text="${c.customerName}"></span> ?

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a type="button" class="btn btn-danger text-decoration-none"
                               th:href="@{/customer/delete/{id}(id=${c.customerId})}"
                            >Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{'/customer'(page=${customer.number - 1}, name=${name}, customerTypeId=${customerTypeId})}"
       th:if="${customer.hasPrevious()}">Previous</a>
    <span th:text="${customer.number + 1}"></span>/<span th:text="${customer.totalPages}"></span>
    <a th:href="@{'/customer'(page=${customer.number + 1}, name=${name}, customerTypeId=${customerTypeId})}"
       th:if="${customer.hasNext()}">Next</a>
</div>
<!--modal view-->
<div class="modal fade modalID"  tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // view
    $(document).ready(function () {
        $(".view").click(function () {
            let id = $(this).val();
            $.ajax({
                type:"GET",
                dataType:"HTML",
                url:"customer/view/" + id,
                success: function (data) {
                    $(".modal-body").html(data)
                    $(".modalID").modal("show")
                }
            })
        })
    })
</script>
</html>