<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Remove Customer</h3>
<p>
    <a th:href="@{/list}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/delete}" th:object="${song}"
          method="POST" novalidate="novalidate">
        <input th:field="*{id}" hidden>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"  readonly/>
        </div>
        <div>
            <label>Singer</label>
            <input type="text" th:field="*{singer}"  readonly/>
        </div>
        <div>
            <label>Type</label>
            <input type="text" th:field="*{type}"  readonly/>
        </div>
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>