<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="layout :: header"></div>
<div class="notify">
    <div th:if="${smg}">
        <span th:text="${smg}"></span>
    </div>
</div>
<div id="form">
    <form action="#" th:action="@{/contract/create}" th:object="${contractDto}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Start Date</label>
            <input type="date" th:field="*{contractStartDate}" class="input"/>
            <p th:if="${#fields.hasErrors('contractStartDate')}" th:errors="*{contractStartDate}"></p>
        </div>
        <div>
            <label>End Date</label>
            <input type="date" th:field="*{contractEndDate}" class="input"/>
            <p th:if="${#fields.hasErrors('contractEndDate')}" th:errors="*{contractEndDate}"></p>
        </div>
        <div>
            <label>Deposit</label>
            <input type="text" th:field="*{contractDeposit}" class="input"/>
            <p th:if="${#fields.hasErrors('contractDeposit')}" th:errors="*{contractDeposit}"></p>
        </div>
        <div>
            <label>Total Money</label>
            <input type="text" th:field="*{contractTotalMoney}" class="input"/>
            <p th:if="${#fields.hasErrors('contractTotalMoney')}" th:errors="*{contractTotalMoney}"></p>
        </div>
        <div>
            <label>Employee: </label>
            <select th:field="*{employee}">
                <option th:value="null" selected >Choose option</option>
                <option th:each="item:${employee}" th:value="${item.employeeId}"  th:text="${item.employeeName}"></option>
            </select>
            <p th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}"></p>
        </div>
        <div>
            <label>Service: </label>
            <select th:field="*{service}">
                <option th:value="null" selected >Choose option</option>
                <option th:each="item:${service}" th:value="${item.serviceId}"  th:text="${item.serviceName}"></option>
            </select>
            <p th:if="${#fields.hasErrors('service')}" th:errors="*{service}"></p>
        </div>
        <div>
            <label>Customer: </label>
            <select th:field="*{customer}">
                <option th:value="null" selected >Choose option</option>
                <option th:each="item:${customer}" th:value="${item.customerId}"  th:text="${item.customerName}"></option>
            </select>
            <p th:if="${#fields.hasErrors('customer')}" th:errors="*{customer}"></p>
        </div>
        <input type="submit" value="Create"/>
    </form>
</div>
</body>
</html>