<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="/layout::header"></div>
<div id="form">
    <form action="#" th:action="@{/employee/edit}" th:object="${employeeDto}"
          method="POST" novalidate="novalidate">
        <input th:field="*{employeeId}" hidden>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{employeeName}" class="input"/>
        </div>
        <div>
            <label>Birthday</label>
            <input type="date" th:field="*{employeeBirthday}" class="input"/>
            <p th:if="${#fields.hasErrors('employeeBirthday')}" th:errors="*{employeeBirthday}"></p>
        </div>
        <div>
            <label>Salary</label>
            <input type="text" th:field="*{employeeSalary}" class="input"/>
        </div>
        <div>
            <label>Id Card</label>
            <input type="text" th:field="*{employeeIdCard}" class="input"/>
            <p th:if="${#fields.hasErrors('employeeIdCard')}" th:errors="*{employeeIdCard}"></p>
        </div>
        <div>
            <label>Phone</label>
            <input type="text" th:field="*{employeePhone}" class="input"/>
            <p th:if="${#fields.hasErrors('employeePhone')}" th:errors="*{employeePhone}"></p>
        </div>
        <div>
            <label>Email</label>
            <input type="text" th:field="*{employeeEmail}" class="input"/>
            <p th:if="${#fields.hasErrors('employeeEmail')}" th:errors="*{employeeEmail}"></p>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{employeeAddress}" class="input"/>
        </div>
        <div>
            <label>Division</label>
            <select th:field="*{division}">
                <option th:each="item:${division}" th:value="${item.divisionId}"  th:text="${item.divisionName}"></option>
            </select>
            <p th:if="${#fields.hasErrors('division')}" th:errors="*{division}"></p>
        </div>
        <div>
            <label>Education Degree</label>
            <select th:field="*{educationDegree}">
                <option th:each="item:${education}" th:value="${item.educationDegreeId}"  th:text="${item.educationDegreeName}"></option>
            </select>
            <p th:if="${#fields.hasErrors('educationDegree')}" th:errors="*{educationDegree}"></p>
        </div>
        <div>
            <label>Position</label>
            <select th:field="*{position}" class="input">
                <option th:each="item:${position}" th:value="${item.positionId}" th:text="${item.positionName}"></option>
            </select>
            <p th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></p>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
</body>
</html>