<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<div th:replace="/layout::header"></div>
<div id="form">
    <form action="#" th:action="@{/employee/edit}" th:object="${employee}"
          method="POST" novalidate="novalidate">
        <input th:field="*{employeeId}" hidden>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{employeeName}" class="input"/>
        </div>
        <div>
            <label>Birthday</label>
            <input type="date" th:field="*{employeeBirthday}" class="input"/>
        </div>
        <div>
            <label>Salary</label>
            <input type="date" th:field="*{employeeSalary}" class="input"/>
        </div>
        <div>
            <label>Id Card</label>
            <input type="text" th:field="*{employeeIdCard}" class="input"/>
        </div>
        <div>
            <label>Phone</label>
            <input type="text" th:field="*{employeePhone}" class="input"/>
        </div>
        <div>
            <label>Email</label>
            <input type="text" th:field="*{employeeEmail}" class="input"/>
        </div>
        <div>
            <label>Address</label>
            <input type="text" th:field="*{employeeAddress}" class="input"/>
        </div>
        <div>
            <label>Position</label>
            <select th:field="*{position.positionId}">
                <option th:each="item:${position}" th:value="${item.positionId}" th:text="${item.positionName}"></option>
            </select>
        </div>
        <div>
            <label>Division</label>
            <select th:field="*{division.divisionId}">
                <option th:each="item:${division}" th:value="${item.divisionId}" th:text="${item.divisionName}"></option>
            </select>
        </div>
        <div>
            <label>Education Degree</label>
            <select th:field="*{educationDegree.educationDegreeName}">
                <option th:each="item:${education}" th:value="${item.educationDegreeId}" th:text="${item.educationDegreeName}"></option>
            </select>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
</body>
</html>