<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="/layout :: header"></div>
<div class="notify">
    <div th:if="${smg}">
        <span th:text="${smg}"></span>
    </div>
</div>
<div>
    <form action="/employee">
        <input name="name" type="text" placeholder="search">
        <select name="positionId">
            <option disabled selected>Choose Position</option>
            <option th:each="item : ${position}" th:value="${item.positionId}" th:text="${item.positionName}"></option>
        </select>
        <select name="divisionId">
            <option disabled selected>Choose Division</option>
            <option th:each="item : ${division}" th:value="${item.divisionId}" th:text="${item.divisionName}"></option>
        </select>
        <select name="educationDegreeId">
            <option disabled selected>Choose Education Degree</option>
            <option th:each="item : ${education}" th:value="${item.educationDegreeId}" th:text="${item.educationDegreeName}"></option>
        </select>
        <button type="submit">Search</button>
    </form>
</div>
<a href="/employee/create">Create new employee</a>
<table id="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Position</th>
        <th>Address</th>
        <th>Birthday</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${employee}">
        <td th:text="${c.employeeId}"></td>
        <td  th:text="${c.employeeName}"></td>
        <td th:text="${c.position.positionName}"></td>
        <td th:text="${c.employeeAddress}"></td>
        <td th:text="${c.employeeBirthday}"></td>
        <td th:text="${c.employeeEmail}"></td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-warning"><a class="text-white" th:href="@{/employee/edit/{id}(id=${c.employeeId})}">Edit</a></button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:attr="data-bs-target='#cusId'+${c.employeeId}">Delete</button>
                <button type="button" class="btn btn-success view" th:value="${c.employeeId}">View</button>
            </div>

            <!-- Modal Delete -->
            <div class="modal fade" th:id="'cusId' + ${c.employeeId}" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">CONFIRM DELETE</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Confirm delete <span class="text-warning" th:text="${c.employeeName}"></span> ?

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a type="button" class="btn btn-danger text-decoration-none"
                               th:href="@{/employee/delete/{id}(id=${c.employeeId})}"
                            >Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <nav aria-label="..." >
        <ul class="pagination">
            <li class="page-item" th:if="${employee.hasPrevious()}">
                <a class="page-link" th:href="@{'/employee'(page=${employee.number -1})}">Previous</a>
            </li>
            <!--            <div th:each="item : ${customer.getTotalPages()}">-->
            <li class="page-item"><a class="page-link" th:text="${employee.getNumber() +1}"></a></li>
            <!--            </div>-->
            <li class="page-item" th:if="${employee.hasNext()}">
                <a class="page-link" th:href="@{'/employee'(page=${employee.number + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<!--modal view-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="card">
            <div class="card-img"> <img class="img-fluid" src="https://i.imgur.com/4niebFr.jpg"> </div>
            <div class="card-title">
                <p>Detail!</p>
            </div>
            <div class="card-text modal-body">

            </div> <button class="btn">Cancel</button>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".view").click(function () {
            let id = $(this).val();
            $.ajax({
                type:"GET",
                dataType:"HTML",
                url:"employee/view/" + id,
                success: function (data) {
                    console.log(data)
                    $(".modal-body").html(data)
                    $("#myModal").modal("show")
                }
            })
        })
    })
</script>
</html>